<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/events"></ion-back-button>
    </ion-buttons>
    <ion-title>EventsList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="Content">
  <ion-list padding>

    <ion-item position="floating" *ngFor="let eve of Eventlist" [routerLink]="['/home/events',this.ref, eve._id]"
      detail>
      <!-- <ion-card>
        <ion-card-content> -->
      {{ eve.evename }}
      <!-- </ion-card-content>
      </ion-card> -->
    </ion-item>

  </ion-list>
</ion-content>