<ion-app>
  <ion-menu slot="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Tech-Fest</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>Home</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home/events">
            <ion-icon name="bicycle" slot="start"></ion-icon>
            <ion-label>Events</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home/gallery">
            <ion-icon name="images" slot="start"></ion-icon>
            <ion-label>Gallery</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/home/schedule">
            <ion-icon name="hourglass" slot="start"></ion-icon>
            <ion-label>Schedule</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/registration">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>My Registrations</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogOut()">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>