#deleteIcon {
    // position: relative;
    // right: 100%;

    // left: calc(85% + 10px);
}

.member_header ion-badge {
    font-size: 18px;
}

.card-header img {

    width: 20px;
}

.card-header button {
    position: relative;
    left: calc(100% - 90px);
}