<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/home"></ion-back-button> -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="Content" padding>
  <ion-list>
    <ion-item position="floating" *ngFor="let eve of eventlist" [routerLink]="['/home/events/', eve._id]"
      (click)="onAdd(eve._id,eve.evetype)" detail lines="none">
      {{ eve.evetype }}

    </ion-item>
  </ion-list>
</ion-content>