<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.evename}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center id="Content">
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>{{this.evename}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{this.desc}}</ion-card-content>
  </ion-card>
  <ion-button color="success" (click)="onRegistration()">Register Here!</ion-button>
</ion-content>